[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ALassoSurvIC"]
	path = ALassoSurvIC
	url = https://github.com/cran/ALassoSurvIC
[submodule "ClinicalTrialSummary"]
	path = ClinicalTrialSummary
	url = https://github.com/cran/ClinicalTrialSummary
[submodule "YPInterimTesting"]
	path = YPInterimTesting
	url = https://github.com/cran/YPInterimTesting
